<div ng-controller="entity_task_ctrl" style="width: 700px">
    <div class="sliderbox-panel-header">
        <div class="sliderbox-panel-header-title"><span class="glyphicon glyphicon-tasks header-icon"></span>{{project.name}}
        </div>
        <ul class="nav nav-pills">
            <li data-placement="bottom" class=""><a href="javascript:;" ng-click="js_show_datepicker($event, task)"
                                                    title="截止日期"> <i class="icon-time"></i>日期 </a></li>
            <li><a href="javascript:;" ng-click="js_show_todo(task)" title="添加检查项"> <i class="icon-th-list"></i>检查项 </a>
            </li>
            <li class="divider-v"></li>
            <li><a href="javascript:;" ng-click="js_close()" title="关闭"> <i class="icon-remove"></i> </a></li>
        </ul>
    </div>
    <div class="entity-panel-body">
        <div class="content-panel">
            <div class="task-ul-li-task-title panel-title" ng-hide="task.is_edit">
                <div class="task-complete-icon">
                    <a class="static-a" href="javascript:;">
                    <span ng-class="{true:'icon-check taskli',false:'icon-check-empty'}[task.completed]"
                          ng-click="taskcomplete(task);" class="icon-check taskli"></span>
                    </a>
                </div>
                <a class="taskname static-a ng-binding task-finish" href=""
                   ng-class="{true:'task-finish',false:''}[task.completed]"
                   ng-click="js_show_editor()">{{task.taskName}}<em>{{task.entry_name}}</em></a>

                <div class="slidebox-description">{{task.description}}</div>
            </div>
            <div class="panel-title" ng-show="task.is_edit">
                <form novalidate="">
                    <div class="form-group">
                        <input ng-model="task_editing.taskName" placeholder="任务名称" class="form-control" type="text"
                               required="">
                    </div>
                    <div class="form-group">

                        <textarea ng-model="task_editing.description" placeholder="为您的任务添加描述" rows="4"
                                  class="form-control"></textarea>

                    </div>
                    <div>
                        <button ng-click="js_update_task()" class="btn btn-success mr_15">保存
                        </button>
                        <button ng-click="js_cancel_editor()" class="btn float_left">取消</button>
                    </div>
                </form>
            </div>

            <!--checkpoints-->
            <div class="content-module" ng-show="task.is_todo_edit || task.checkpoints.length > 0">
                <h4><i class="icon-th-list"></i>检查项</h4>

                <div class="progress-warp">
                    <span ng-bind="task.percentage+'%'"></span>
                    <progressbar value="task.percentage" type="success"></progressbar>
                </div>
                <div class="task-todos">
                    <ul class="sortable" sortable="todo_sort_options">
                        <li class="todo-item" ng-repeat="todo in task.checkpoints"
                            ng-class="{'todo-item-done':todo.completed!=0}"
                            todo-id="{{ todo.id }}">
                            <a class="todo-item-check" ng-click="js_complete_todo(task, todo)">
                                <!--<i ng-class="{0: 'icon-check-empty', 1: 'icon-check-sign'}[todo.completed]"></i>-->
                                <span ng-class="{true:'icon-check taskli',false:'icon-check-empty'}[task.completed]"></span>
                            </a>

                            <div class="todo-item-edit">
                                <div ng-hide="todo.is_todo_edit" ng-click="js_show_todo_editor(todo)">{{todo.name}}
                                </div>

                                <div class="edit" ng-show="todo.is_todo_edit">
                                    <div class="todo-edit-control">
                                        <textarea ng-model="todo.name" type="text" class="form-control"/>
                                    </div>
                                    <div class="mb_10">
                                        <button ng-click="js_save_todo($event,todo)" data-loading-text="保存"
                                                loading-status="todo.is_saving" class="btn btn-success mr_15">保存
                                        </button>
                                        <button class="btn" ng-click="js_del_todo(task, todo)">
                                            删除
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
            <!--comment-->
            <ul class="comments">
                <li ng-repeat="comment in comments">
                    <a class="avatar static-a " href="javascript:;" title="{{comment.owner.username}}">
                        <span class="avatar-face">
                            <span class="avatar-text ng-binding">{{comment.owner.username[0]}}</span>
                        </span>
                    </a>

                    <div>{{comment.message}}</div>
                </li>
            </ul>
        </div>
        <div class="sidebar-module"></div>
    </div>
</div>

