<div class="server-team-main">
    <div class="team-mem-left-wrap">
        <div class="team-mem-left">
            <div class="title">
                团队成员
            </div>
            <div class="main-panel">
                <ul class="user-ul">
                    <li class="user-li" ng-repeat="user in team.users">
                        <a href="javascript:;" class="avatar-56 avatar">
                            <span class="avatar-face">
                                <span class="avatar-text">{{user.nickname[0]}}</span>
                            </span>
                        <p class="avatar-name">{{user.nickname | longname}}</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="team-mem-right pull-right">
        <div class="title">
            <p class="teamname">{{team.team.teamname}}</p>
            <p class="createtime">创建于{{team.team.dateCreated | timeformat}}</p>
        </div>
    </div>
</div>