<div class="userpopup-main-wrap">
    <div class="server-userpopup">
        <a class="avatar avatar-56 static-a" >
            <span class="avatar-face">
                <span class="avatar-text"id="userpopava">
                    {{userpop.username[0]}}
                </span>
            </span>
        </a>
        <div class="userpopup-userinfo disinline">
            <div class="userpopup-userinfo-nickname">
                {{userpop.nickname}}
            </div>
            <div class="userpopup-userinfo-username">@{{userpop.username}}</div>
        </div>
        <div class="userpopup-userinfo-des">{{userpop.des |usersign}}</div>
    </div>
</div>